 .holder {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 150px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    flex-basis:30%;
    flex-grow: 1;
  }
  .block-one {
    background-color: tomato;
    flex-grow:2;
    flex-basis: 50%;
    border-top-left-radius: 10px;
  }
  .block-five {
    background-color: orange;
    flex-grow: 2;
    flex-basis: 50%;
    border-top-right-radius: 10px;
    order: 2;
  }
  .block-three {
    background-color: purple;
    order: 3;
  }
  .block-two {
    background-color: steelblue;
    order: 4;
  }
  .block-four {
    background-color: green;
    order: 5;
  }